<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ6wM6T-7SDHV1PsbwQoIcVsXs_ghYcwE</string>
	<key>GCM_SENDER_ID</key>
	<string>969524752939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ultWhatsapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ult-whatsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ult-whatsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969524752939:ios:8395229909fcf8a423306e</string>
	<key>DATABASE_URL</key>
	<string>https://ult-whatsapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>